[Unit]
Description=Zabbix Agent
After=syslog.target
After=network.target

[Service]
Environment="CONFFILE={{ zabbix_install_directory }}/etc/zabbix_agentd.conf"
#EnvironmentFile={{ zabbix_install_directory }}/etc/zabbix_agentd.conf.d/
Type=forking
Restart=on-failure
#PIDFile={{ zabbix_install_directory }}/zabbix_agentd.pid
KillMode=control-group
ExecStart={{ zabbix_install_directory }}/sbin/zabbix_agentd -c $CONFFILE
ExecStop=/bin/kill -SIGTERM $MAINPID
RestartSec=10s

[Install]
WantedBy=multi-user.target 
